Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'

In [2]:
import regex as re
import pandas as pd

In [5]:
 Text1 = 'Python Exercises, PHP exercises.'
output = re.sub(r'[\s,.]',':', Text1)
print(output)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [7]:
Dictionary= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(Dictionary)
print(df)

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [26]:
df['SUMMARY']= df['SUMMARY'].str.replace("[,+!XXXXX:;.*]","",regex=True)
print(df)

        SUMMARY
0   hello world
1          test
2  four five si

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [194]:
string = "India is a very beautiful country"
pattern = r"\w{4}"
result= re.compile(pattern)
output= result.findall(string)
print(output)

['Indi', 'very', 'beau', 'tifu', 'coun']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [193]:
string= "There are many languages in our country"
pattern= r"\w{3,5}"
result= re.compile(pattern)
output= result.findall(string)
output

['There', 'are', 'many', 'langu', 'ages', 'our', 'count']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [219]:
text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def parentheses(text):
    for i in text:
        if i== re.compile(r'\(|\)'):
            output =re.findall(i, text)
            print(output)

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [91]:
sample_text= "ImportanceOfRegularExpressionsInPython"
pattern= r"(?=[A-Z])"
output= re.split(pattern, sample_text)
print(output)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [193]:
target_string= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r"([A-Z][0-9]+|\d+)"
result =re.sub(pattern, r" \1", target_string)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [11]:
target_string= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r"([A-Z][a-z0-9]+|\d+)" 
result = re.sub(pattern, r" \1", target_string)
print(result)

 Regular Expression1 Is An2 Important Topic3 In Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
print(data.head)

<bound method NDFrame.head of          Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual
0       0.29678            2.51738
1       0.43630            2.70201
2       0.34139            2.49204
3       0.34699            2.46531
4       0.45811            2.45176
..          ...                ...
153     0.22628            0.67042
154     0.18260            1.63328
155     0.47179            0.32858
156     0.19727            1.83302
157     0.16681            1.56726

[158 rows x 12 columns]>

In [6]:
df= pd.DataFrame(data)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [16]:
pattern = "(\w{6})"
df['first_five_letters']= df['Country'].str.extract(pattern, expand=True)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [48]:
string = 'Virat_Kohli_1988'
pattern = "\w+"
result = re.match(pattern,string)
print(result)

<regex.Match object; span=(0, 16), match='Virat_Kohli_1988'>

Question 12- Write a Python program where a string will start with a specific number.

In [49]:
string = '1988ViratKohli'
pattern = '^1988'
result = re.match(pattern, string)
print(result)

<regex.Match object; span=(0, 4), match='1988'>

Question 13- Write a Python program to remove leading zeros from an IP address

In [72]:
IP_address = '001.403.890.271'
pattern = '^[0]+'
remove_zeroes = re.sub(pattern,"", IP_address)
print(remove_zeroes)

1.403.890.271

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947

In [192]:
string =  "On August 15th 1947 that India was declared independent from British colonialism,and the reins of control were handed over to the leaders of the Country"
def write_data():
    f=open("abc.txt","w")
    f.write(string)
    f.close()
write_data()
def read_data():
    f=open("abc.txt","r")
    data = f.read()
    pattern = r"([A-Z][a-z]+) (\d+th) (\d{4})"
    match_date = re.findall(pattern, data)
    for date in match_date:
        print(date)
    f.close()
read_data()

('August', '15th', '1947')

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [44]:
string = 'The quick brown fox jumps over the lazy dog.' 
pattern ="(?:fox)|(?:dog)"
match = re.findall(pattern, string)
print(match)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [37]:
string ='The quick brown fox jumps over the lazy dog.'
pattern = "(?:fox)"
match = re.search(pattern, string)
print(match)

<regex.Match object; span=(16, 19), match='fox'>

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [18]:
string =  'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
substring = re.findall(pattern,string)
print(substring)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [41]:
string = 'Python exercises, PHP exercises, C# exercises'
pattern = re.compile('xercises')
substring = pattern.search(string)
print(substring)

<regex.Match object; span=(7, 16), match='exercises'>

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [5]:
date ='2023-04-15'
pattern ='(\d{4})-(\d{1,2})-(\d{1,2})'
convert_date = re.sub(pattern,'\\3-\\2-\\1', date)
print(convert_date)

15-04-2023

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [8]:
decimal_string= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = re.compile('\d+\.\d{1,2}')
result = pattern.findall(decimal_string)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']


Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [14]:
target_string = 'The apples costs Rs 80'
pattern = '\d+'
seperate_no = re.search(pattern, target_string)
print(seperate_no)

<regex.Match object; span=(20, 22), match='80'>

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [20]:
string =  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern ='\d+'
value = re.findall(pattern, string)
maximum_value = max(value)
print(maximum_value)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [57]:
string = "RegularExpressionIsAnImportantTopicInPython"
pattern = '\b(^[A-Z])([a-z]+\b)'
output = re.sub(pattern," ",string)
print(output)

RegularExpressionIsAnImportantTopicInPython

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [49]:
string = 'Importance of Regular Expression in Python'
pattern = '[A-Z][a-z]+'
result = re.findall(pattern, string)
print(result)

['Importance', 'Regular', 'Expression', 'Python']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [140]:
string = "Hello hello world world"
pattern = re.compile('[A-Z][a-z]+')
output = re.sub(pattern, r" ",string)
print(output)

  hello world world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [141]:
string = 'The alphanumeric number is abc123'

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [143]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = '#\w+'
extract_hashtag = re.findall(pattern, text)
print(extract_hashtag)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [145]:
Text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = '<U\+\w+>'
remove_symbols = re.sub(pattern, "", Text)
print(remove_symbols)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

In [177]:
text="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
def write_data():
    f=open("abc.txt","w")
    f.write(text)
    f.close()
write_data()
def read_data():
    f=open("abc.txt","r")
    data = f.read()
    pattern = '\d{1,2}-\d{1,2}-\d{4}'
    dates = re.findall(pattern, data)
    for date in dates:
        print(date)
    f.close()
read_data()

12-09-1992
15-12-1999

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [191]:
 text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r'\b\w{2,4}\b') 
output = re.sub(pattern, "", text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.